/* map */

#map {
  width: 100%;
  aspect-ratio: 1;
}

#map .nav {
  position: absolute;
  z-index: 1;
  width: 25%;
  aspect-ratio: 1;
  bottom: 20%;
}

#map .nav img {
  width: 100%;
}

#map .left {
  left: 5%;
}

#map .right {
  right: 5%;
}

/* menu */

#menu {
  background: #000;
  position: absolute;
  z-index: 1;
  top: 87px;
  left: 10px;
  border-radius: 3px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 20px;
  color: #fff;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: left;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #fff;
  color: #000;
}

#menu a.active {
  background-color: var(--color-blue);
  color: #ffffff;
}

#menu a.active:hover {
  background: var(--color-blue);
}

#menu .box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  clear: both;
  margin-right: 10px;
}

/* info */

#info {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
  color: green;
  background: black;
}

/* commentary */

.commentary {
  display: none;
}


/* navigation */

.nav {
  flex: 0 0 50px; /* fixed height */
  margin-top: 10px;
  background-color: var(--ast-global-color-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav :first-child {
  justify-content: flex-start;
}

.nav :last-child {
  justify-content: flex-end;
}

.nav-column a {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
}

.nav a:hover {
  background-color: #fff;
  color: #000;
}

.nav a.active {
  background-color: var(--color-blue);
  color: #ffffff;
}

.nav .active:hover {
  background: var(--color-blue);
}
