/**
 * Theme Name:        Riverside Area Residents' Association
 * Template:          astra
 * Version:           1.0.0
 * Author:            gareth.stockwell@gmail.com
 * Author URI:        https://example.com
 * Tags:              block-patterns, full-site-editing
 * Text Domain:       rara
 * Domain Path:       /assets/lang
 * Tested up to:      6.8
 * Requires at least: 6.8
 * Requires PHP:      7.4
 * License:           MIT License
 * License URI:       https://opensource.org/license/mit
 */